@import '_variable';

.l-wrapper {
  // min-width: $content-width + ($content-padding * 2);
  padding-top: 100px;
  overflow-x: hidden;
}
.l-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $content-padding;
  max-width: $content-width + ($content-padding * 2);
}

.l-grid2 {
  display: flex;
  justify-content: space-between;
  .l-grid-item {
    width: calc((100% - 60px) / 2);
  }
  &--reverse .l-grid-item:first-child {
    order: 2;
  }
  &--reverse .l-grid-item:last-child {
    order: 1;
  }
}
.l-grid3 {
  display: flex;
  justify-content: space-between;
  .l-grid-item {
    width: calc((100% - 100px) / 3);
  }
}

@include sp  {
  .l-wrapper {
    min-width: 0;
    width: 100%;
    padding-top: 50px;
  }
  .l-container {
    padding: 0 $sp-content-padding;
    width: 100%;
  }
  .l-grid2 {
    display: block;
    .l-grid-item {
      margin-bottom: 20px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .l-grid3 {
    display: block;
    .l-grid-item {
      margin-bottom: 20px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}