.u-ta-c {
  text-align: center !important;
}
.u-ta-r {
  text-align: right !important;
}
.u-ta-l {
  text-align: left !important;
}
.u-mb-10 {
  margin-bottom: 10px !important;
}
.u-mb-20 {
  margin-bottom: 20px !important;
}
.u-mb-30 {
  margin-bottom: 30px !important;
}
.u-mb-40 {
  margin-bottom: 40px !important;
}
@include pc {
  .u-only-sp {
    display: none !important;
  }
}

@include sp {
  .u-only-pc {
    display: none !important;
  }
}